@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));


@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  transition: background-color 0.25s ease, color 0.25s ease;
  }